name: Manual Trigger Workflow

on:
  workflow_dispatch:
    inputs:
      sourcebranch:
        description: 'Source Branch Name'
        type: string
        required: true
      sourcemainbranch:
        description: 'Source Main Branch Name'
        type: string
        required: true
      tragetbranch:
        description: 'Target Branch Name'
        type: string
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
   # environment: develop
    env:
      TARGET_ENVIRONMENT: https://github.com/vishklearning/Demo-SF-GH/blob/master
      SOURCE_REPO: https://github.com/vishklearning/Demo-SF-GH1/blob/master
      SOURCE_MAIN_REPO: ${{inputs.sourcemainbranch}}
   # if: env.TARGET_ENVIRONMENT == 'develop'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install SFDX-CLI
        run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
          mkdir ~/sfdx && ls -la
          tar xJf sfdx-linux-x64.tar.xz -C ~/sfdx --strip-components 1
          echo "$HOME/sfdx/bin" >> $GITHUB_PATH
          echo The PATH is $GITHUB_PATH
          ~/sfdx/bin/sfdx version
        
      # install SFDX Scanner
#       - name: Install SFDX-Scanner
#         run:  sfdx plugins:install @salesforce/sfdx-scanner
      
      - uses: actions/checkout@v3
        name: Checkout Python_Scripts
        with:
          repository: vishklearning/Python_Scripts 
          token: ${{ secrets.V_METADATA_SEC }}
          path: ./acct-scripts

         # Setup python v3.7
      - uses: actions/setup-python@v4
        name: Install Python v3.7 and cache pip
        with:
          python-version: "3.7"
          cache: "pip" # caching pip dependencies
          cache-dependency-path: ./acct-scripts/requirements.txt

      # Install requirements.txt from acct-scripts
      - name: Install requirements.txt
        run: |
          ls -l
          python --version
          pip --version
          python3 -m pip install -r "./acct-scripts/requirements.txt"
        
      # Checkout the first repository
      - name: Checkout Repository 1
        uses: actions/checkout@v2
        with:
          repository: vishklearning/Demo-SF-GH
          path: ./test2-1
          ref: master
      # ${{ env.SOURCE_REPO }}
      
      - name: Checkout Repository 2
        uses: actions/checkout@v2
        with:
          repository: vishklearning/Demo-SF-GH1
          path: ./test2
          ref: develop
      # ${{ env.TARGET_REPO }}

      # set user.name and user.email
      - name: Set Username and UserEmail
        run: |
          git config --global user.name "Vishwanath"
          git config --global user.email "vishklearning@email.com"

      # Run the MergeDX
      - name: MergerDX
        id: MergerDX
        continue-on-error: true
        run: |
          python3 ./acct-scripts/mergerDX/merger.py merge_delta -s vishklearning/Demo-SF-GH1/refs/heads/master -t vishklearning/Demo-SF-GH/refs/heads/tree/master -a ${{secrets.API_VERSION}}
          if [ $? -eq 0 ] && [ $(ls srcToDeploy | wc -l) -ne 0 ]; then
            echo "Success in MergeDX"
            zip -r srcToDeploy.zip ./srcToDeploy/
            git rev-parse --verify HEAD
          else 
            echo "::warning:: Failure in MergeDX: The srcToDeploy.zip is EMPTY(i.e. No New Code Changes Detected)"
            exit 1
          fi
      
       # Authenticate SFDX Instance
      - name: Authticate the URL
        run: sfdx auth:jwt:grant --username vishksalesforce@gmail.com.dev1 -f ./assests/server.key -i 3MVG9OjW2TAjFKUvMO.2ZqzAwK6pcsQgJU4Fj45jsD6_FWjV2uwH4cPcG0pOIkYxCxS0jl25186Se.tkjCcbW -r https://computing-efficiency-483.scratch.my.salesforce.com
           
#       # Create Directory
#       - name: Create Directory
#         run: |
#           mkdir destforceapp
          
#       - name: Merge Repository 1
#         run: |
#           cp -r ./force-app1/*  ./force-app2/* ./destforceapp
#           ls destforceapp
#           ls force-app1
#           ls force-app2
     
      # Deploy the merged metadata to Salesforce
      - name: Deploy to Salesforce
        run: |
          sfdx force:source:deploy -p force-app -u huborg
